.catImg {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 4px solid salmon;
}

.catsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.fetchCatButton {
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: salmon;
  cursor: pointer;
  color: whitesmoke;
  border: 2px solid snow;
  border-radius: 4px;
}

.catTitle {
  color: whitesmoke;
  font-size: 3rem;
  background-color: salmon;
  padding: 12px;
  border-radius: 4px;
}
