.languageTitle {
  color: white;
}

.languageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(62, 121, 250);
  border-radius: 40px;
  padding: 50px;
}

.languageButton {
  padding: 6px;
  border-radius: 8px;
  background-color: black;
  color: white;
}
