.userBox {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(99, 99, 248);
  border-radius: 20px;
  gap: 20px;
}

.userImg {
  width: 150px;
  border-radius: 50%;
}

.userText {
  color: azure;
}

.fetchButton {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
